$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// add files to customize bootstrap
@import "_custom-fonts.scss";
@import "_custom-variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// your own css/scss

.jumbotron{
    background-image: url(../images/banneri.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#headerrow{
    text-align: center;
    background-color: rgba(245, 245, 245, 0.6); 
}

#cavebob{
    width: 50%;
    height: 50%;
}

#row1{
    text-align: center;
}

#banneripaavo{
    height: 30%;
    width: 30%;
    
}

#pp{
    height: 75%;
    width: 75%;
}

// your own css/scss ends